/* Star rating app built by Opara Princewill */

* {
	margin:	0;
	padding: 0;
}
body {
	background-color: white;
	font-family: 'Libre Baskerville', serif;
}
.site-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 110;
}
main {
    width: auto;
    display: flex;
    justify-content: center;
}
header {
    background-color: dodgerblue;
    padding: 20px 0;
}
header span {
    color: yellow;
    padding: 5px 10px;
}

header h3 {
    font-size: 16px;
    padding: 10px 0;
}

h1, h3 {
	color: white;
	text-align: center;
}

.star-rating {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px auto;
    border: 1px solid dodgerblue;
}
#s-header {
    font-size: 18px;
}
#s-value {
    padding: 5px;
    font-weight: 300;
}
.star-rating h2 {
    width: 100%;
    text-align: center;
    color: white;
    background: dodgerblue;
    padding: 10px 0;
}
.star-group {
    width: 100%;
    text-align: center;
}
#rating {
    text-align: center;
	display: inline-block;
    padding: 50px 0;
    font-size: 30px;
}
.rate-p {
	color: #d6d6d6;
	position: relative;
    display: inline-block;
    cursor: pointer;
}
.rate {
	display: none;
	width: 80px;
	background-color: dodgerblue;
	color: #fff;
	text-align: center;
	font-size: 12px;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	top: 110%;
	z-index: 1;
}
.rate-p:hover .rate{
	display: block;
}

.clear-btn {
    background: dodgerblue;
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    cursor: pointer;
}
.clear-btn:hover {
    background: rgb(27, 124, 221);
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgb(12, 12, 48);
	padding: 30px 0;
}
footer p {
	color: white;
	text-align: center;
    font-size: 14px;
    line-height: 1.5;
}